{% extends 'master.html' %}
{% set active_page = 'patients.index' %}
{% set header_text = 'Patients' %}

{% block content %}
<div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-rose">
      <h4 class="card-title">Edit Patient</h4>
      <p class="card-category">Fill up the patient's basic information</p>
    </div>
    <div class="card-body">
      <form method="POST" id="addPatientForm">
        <input type="hidden" name="id" value="{{ patient.id }}">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Fist Name</label>
              <input type="text" class="form-control" name="first_name" 
                value="{{ patient.first_name }}" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Last Name</label>
              <input type="text" class="form-control" name="last_name" 
                value="{{ patient.last_name }}" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Date of birth</label>
              <input type="date" class="form-control" name="date_of_birth" value="{{ patient.date_of_birth }}" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Gender</label>
              <select name="gender" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Civil Status</label>
              <select name="civil_status" class="form-control">
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                  <option value="widow">Widow</option>
                  <option value="widower">Widower</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
                <label class="bmd-label-floating">Address</label>
                <input type="text" class="form-control" name="address" 
                  value="{{ patient.address }}" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Contact no.</label>
              <input type="text" class="form-control" name="contact_no" 
                value="{{ patient.contact_no }}" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Birth Place</label>
              <input type="text" class="form-control" name="birth_place" 
                value="{{ patient.birth_place }}" required>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-rose pull-right">Save</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card card-profile">
    <div class="card-body">
      <h6 class="card-category">Face recognition</h6>
      <h4 class="card-title">Instructions</h4>
      <p class="card-description text-left"> 
        If you want to add face recognition data-set to the patient, just click the 
        "COLLECT DATA-SET" button down below. This will enable to identify the user by using 
        the facial recognition equipped in this application
      </p>
      <button id="streamModalButton" type="button" 
        class="btn btn-info btn-round">Collect Face Recognition Data</button>
    </div>
  </div>
</div>
<div class="modal fade" id="streamModal" tabindex="-1" role="dialog"
  aria-labelledby="streamModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="streamModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="streamIMG" style="width: 100%" src="" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="collectDatasetButton" type="button" class="btn btn-primary">Record</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(function() {
    $('input[name="first_name"]').change(function() {
      let last_name = $('input[name="last_name"]').val()
      if(last_name.length != 0 && $(this).val().length != 0) {
        $('#streamModalButton').removeAttr('disabled')
      } else {
        $('#streamModalButton').attr('disabled', true)
      }
    })
    $('input[name="last_name"]').change(function() {
      let first_name = $('input[name="first_name"]').val()
      if(first_name.length != 0 && $(this).val().length != 0) {
        $('#streamModalButton').removeAttr('disabled')
      } else {
        $('#streamModalButton').attr('disabled', true)
      }
    })
    $('#streamModalButton').click(function() {
      $('#streamModal').modal()
    })
    $('#streamModal').on('show.bs.modal', function (e) {
      $('#streamIMG').attr('src', "{{ url_for('face_recognition.show') }}")
    })
  
    $('#streamModal').on('hide.bs.modal', function (e) {
      $('#streamIMG').attr('src', '')
    })

    $('#collectDatasetButton').click(function() {
      $('#streamIMG').attr('src', '')
      let slug = $('input[name="first_name"]').val() 
        + ' ' + $('input[name="last_name"]').val()
      slug = slug.split(' ').join('-').toLowerCase()
      $('#streamIMG').attr('src', "/face_recognition/collect/" + slug)
      let interval = setInterval(function() {
        api("{{ url_for('api.face_recognition.recording') }}", 'GET', {}).done(function(response) {
          console.log(response.result)
          if(response.result.fresh == 1) {
            clearInterval(interval)
            api("{{ url_for('api.face_recognition.store') }}", 'POST', 
              JSON.stringify({'name': 'new-face', 'fresh': 0}))
            $('#streamModal').modal('toggle')
            notify('Please wait while the server is training the data', 'success', 'Done recording!')
            api("{{ url_for('face_recognition.train') }}", 'GET', {}).done(function() {
              notify('Done training data!', 'success')
            })
          }
        })
      }, 500)
    })
    $('#addPatientForm').submit(function(e) {
      let data = JSON.stringify($(this).serializeJSON())
      console.log(data)
      let endpoint = '{{ url_for("api.patients.store") }}'
      api(endpoint, 'PUT', data).done(function(data) {
        notify(data.message, 'info')
        window.location = '{{ url_for("patients.show", patient=patient.id)}}'
      })
      e.preventDefault()
    })
  })
</script>
{% endblock %}