{% extends 'master.html' %}
{% set active_page = 'patients.index' %}
{% set header_text = 'Patients' %}

{% block content %}
<div class="card">
  <div class="card-header card-header-rose">
    <div style="display: inline;">
      <h4 style="display: inline;" class="card-title ">Patients list</h4><br>
      <p style="display: inline;" class="card-category">These are all the patients currently registered</p>
    </div>
    <div class="pull-right" style="margin-top: -25px;">
      <button class="btn btn-rose" id="stream-button" data-toggle="tooltip" title="Face Recognition">
        <i class="material-icons">visibility</i></button>
      <a class="btn btn-rose" href="{{ url_for('patients.create') }}">
        <i class="material-icons">add</i> Add Patient</a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-rose">
          <tr>
            <th>Name</th>
            <th>Medical Status</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in data %}
          <tr class="row-{{ patient.id }}">
              <td>{{ patient.first_name }} {{ patient.last_name }}</td>
              <td>{% set medical_record = patient.medical_records|last %}
                {{ medical_record.medical_status }}</td>
              <td>{{ patient.gender|capitalize }}</td>
              <td>{{ patient.date_of_birth|age }}</td>
              <td style="width: 1%; white-space: nowrap;">
                <a href="#" class="btn btn-sm btn-success btn-show-patient" 
                  data-id="{{ patient.id }}" data-toggle="tooltip" title="View Patient">
                  <i class="material-icons">description</i>
                </a>
                <a href="{{ url_for('patients.edit', patient=patient.id) }}" class="btn btn-sm btn-info" data-toggle="tooltip" title="Edit">
                    <i class="material-icons">edit</i>
                </a>
                <button class="btn btn-sm btn-danger delete-patient-button" data-toggle="tooltip" title="Delete"
                  data-id="{{ patient.id }}">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="streamModal" tabindex="-1" role="dialog"
  aria-labelledby="streamModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="streamModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="streamIMG" style="width: 100%" src="" >
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  function passwordSWAL() {
    return swal({
      'title': 'Enter Password',
      'content': {
        'element': "input",
        'attributes': {
          'placeholder': "Type your password",
          'type': "password",
        },
      },
      'buttons': true
    })
  }

  $('.btn-show-patient').click(function() {
    let patientID = $(this).attr('data-id')
    passwordSWAL().then((result) => {
      if(result == null) {
        return
      }
      let data = {
        username: '{{ current_user.username }}',
        password: result
      }
      api("{{ url_for('api.users.check_password') }}", 'POST', JSON.stringify(data)).done(function(result) {
        if(result.message == "Credentials are correct") {
          window.location = "{{ url_for('patients.index') }}" + patientID
          return
        }
        notify('Incorrect password', 'danger')
      })
    })
  })

  $('#stream-button').click(function() {
    passwordSWAL().then((result) => {
      if(result == null) {
        return
      }
      let data = {
        username: '{{ current_user.username }}',
        password: result
      }
      api("{{ url_for('api.users.check_password') }}", 'POST', JSON.stringify(data)).done(function(result) {
        if(result.message == "Credentials are correct") {
          $('#streamModal').modal()
          return
        }
        notify('Incorrect password', 'danger')
      })
    })
  })
  
  $('#streamModal').on('show.bs.modal', function (e) {
    api("{{ url_for('api.face_recognition.store') }}", 'POST', 
          JSON.stringify({'name': 'new-face', 'fresh': 0}))
    recognize()
  })

  function recognize() {
    let interval = setInterval(function() {
      $('#streamIMG').attr('src', "{{ url_for('face_recognition.recognize') }}")
      api("{{ url_for('api.face_recognition.recording') }}", 'GET', {}).done(function(response) {
        if(response.result.fresh == 1) {
          clearInterval(interval)
          api("{{ url_for('api.face_recognition.index') }}", 'GET', {}).done(function(response) {
            if($.isEmptyObject(response.patient)) {
              console.log($.isEmptyObject(response.patient))
              swal({
                'title': 'Unknown',
                'text': 'Face is unknown. Do you want to add new patient?',
                'buttons': ['Cancel', 'Add new patient']
              }).then((result) => {
                api("{{ url_for('api.face_recognition.store') }}", 'POST', 
                  JSON.stringify({'name': response.patient.slug, 'fresh': 0}))
                if(result) {
                  window.location = "{{ url_for('patients.create') }}"
                  return
                }
                $('#streamModal').modal('hide')
              })
            } else {
              swal({
                'title': 'Is this the patient?',
                'text': response.patient.first_name + ' ' + response.patient.last_name,
                'icon': 'info',
                'buttons': {
                  'cancel': 'Cancel',
                  'retry': {
                    'text': 'No. Recognize again.',
                    'value': false
                  },
                  'yes': true
                }
              }).then((result) => {
                if(result == null) {
                  $('#streamModal').modal('hide')
                  return
                }
                if(result) {
                  window.location = "{{ url_for('patients.index') }}" + response.patient.id
                  return
                }
                $('#streamIMG').attr('src', "asd")
                api("{{ url_for('api.face_recognition.store') }}", 'POST', 
                  JSON.stringify({'name': 'new-face', 'fresh': 0}))
                recognize()
              })
            }
          })
        }
      })
    }, 500)
  }

  $('#streamModal').on('hide.bs.modal', function (e) {
    $('#streamIMG').attr('src', '')
  })

  $('.delete-patient-button').click(function() {
    let patientID = $(this).attr('data-id')
    let endpoint = "{{ url_for('api.patients.index') }}" + patientID
    swal({
      title: "Delete patient",
      text: "This patient will be removed from the records." 
        + " You can edit this patient if you want to change something.",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        passwordSWAL().then((result) => {
          if(result == null) {
            return
          }
          let data = {
            username: '{{ current_user.username }}',
            password: result
          }
          api("{{ url_for('api.users.check_password') }}", 
            'POST', JSON.stringify(data)).done(function(result) {
            if(result.message == "Credentials are correct") {
              api(endpoint, 'DELETE', {}).done(function(data) {
                $('.row-' + patientID).fadeOut()
                notify(data.message, 'primary')
              })
              return
            }
            notify('Incorrect password', 'danger')
          })
        })
      }
    })
  })
})
</script>
{% endblock %}