{% extends 'master.html' %}
{% set active_page = 'patients.index' %}
{% set header_text = 'Patients' %}

{% block content %}
<div class="card">
  <div class="card-header card-header-primary">
    <div style="display: inline;">
      <h4 style="display: inline;" class="card-title ">Patients list</h4><br>
      <p style="display: inline;" class="card-category">These are all the patients currently registered</p>
    </div>
    <div class="pull-right" style="margin-top: -25px;">
      <button class="btn btn-primary" id="stream-button">
        <i class="material-icons">visibility</i></button>
      <a class="btn btn-primary" href="{{ url_for('patients.create') }}">
        <i class="material-icons">add</i> Add Patient</a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in data %}
          <tr class="row-{{ patient.id }}">
              <td>{{ patient.first_name }} {{ patient.last_name }}</td>
              <td>{{ patient.address }}</td>
              <td>{{ patient.gender|capitalize }}</td>
              <td>{{ patient.date_of_birth|age }}</td>
              <td style="width: 1%; white-space: nowrap;">
                <a href="{{ url_for('patients.show', patient=patient.id) }}" class="btn btn-sm btn-success">
                  <i class="material-icons">description</i>
                </a>
                <a href="{{ url_for('patients.edit', patient=patient.id) }}" class="btn btn-sm btn-info">
                  <i class="material-icons">edit</i>
                </a>
                <button class="btn btn-sm btn-danger delete-patient-button" data-id="{{ patient.id }}">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="streamModal" tabindex="-1" role="dialog"
  aria-labelledby="streamModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="streamModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="streamIMG" style="width: 100%" src="" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  let streaming = false
  $('#stream-button').click(function() {
    streaming = true
    $('#streamModal').modal()
  })
  
  $('#streamModal').on('show.bs.modal', function (e) {
    $('#streamIMG').attr('src', "{{ url_for('face_recognition.video_feed') }}")
  })

  $('#streamModal').on('hide.bs.modal', function (e) {
    $('#streamIMG').attr('src', '')
    streaming = false
  })

  $('.delete-patient-button').click(function() {
    let patientID = $(this).attr('data-id')
    let endpoint = "{{ url_for('api.patients.index') }}" + patientID
    api(endpoint, 'DELETE', {}).done(function(data) {
      $('.row-' + patientID).fadeOut()
      notify(data.message, 'danger')
    })
  })
})
</script>
{% endblock %}