{% extends 'master.html' %}
{% set active_page = 'patients.index' %}
{% set header_text = 'Patients' %}

{% block content %}
<div class="card">
  <div class="card-header card-header-primary">
    <div style="display: inline;">
      <h4 style="display: inline;" class="card-title ">Patients list</h4><br>
      <p style="display: inline;" class="card-category">These are all the patients currently registered</p>
    </div>
    <div class="pull-right" style="margin-top: -25px;">
      <button class="btn btn-primary" id="stream-button">
        <i class="material-icons">visibility</i></button>
      <a class="btn btn-primary" href="{{ url_for('patients.create') }}">
        <i class="material-icons">add</i> Add Patient</a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in data %}
          <tr class="row-{{ patient.id }}">
              <td>{{ patient.first_name }} {{ patient.last_name }}</td>
              <td>{{ patient.address }}</td>
              <td>{{ patient.gender|capitalize }}</td>
              <td>{{ patient.date_of_birth|age }}</td>
              <td style="width: 1%; white-space: nowrap;">
                <a href="#" class="btn btn-sm btn-success btn-show-patient" 
                  data-id="{{ patient.id }}">
                  <i class="material-icons">description</i>
                </a>
                <a href="{{ url_for('patients.edit', patient=patient.id) }}" class="btn btn-sm btn-info">
                  <i class="material-icons">edit</i>
                </a>
                <button class="btn btn-sm btn-danger delete-patient-button" data-id="{{ patient.id }}">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="streamModal" tabindex="-1" role="dialog"
  aria-labelledby="streamModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="streamModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="streamIMG" style="width: 100%" src="" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  function passwordSWAL() {
    return swal('Enter password.', {
      'content': {
        'element': "input",
        'attributes': {
          'placeholder': "Password",
          'type': "password",
        }
      }
    })
  }

  $('.btn-show-patient').click(function() {
    let patientID = $(this).attr('data-id')
    passwordSWAL().then((result) => {
      let data = {
        username: '{{ current_user.username }}',
        password: result
      }
      api("{{ url_for('api.users.check_password') }}", 'POST', JSON.stringify(data)).done(function(result) {
        if(result.message == "Credentials are correct") {
          window.location = "{{ url_for('patients.index') }}" + patientID
          return
        }
        notify('Incorrect password', 'danger')
      })
    })
  })
  $('#stream-button').click(function() {
    $('#streamModal').modal()
  })
  
  $('#streamModal').on('show.bs.modal', function (e) {
    $('#streamIMG').attr('src', "{{ url_for('face_recognition.recognize') }}")
    recognize()
  })

  function recognize() {
    setTimeout(function() {
      api("{{ url_for('api.face_recognition.index') }}", 'GET', {}).done(function(response) {
        if($.isEmptyObject(response.patient)) {
          console.log($.isEmptyObject(response.patient))
          swal({
            'title': 'Unknown?',
            'text': 'Face is unknown',
            'buttons': ['Close']
          }).then((result) => {
            $('#streamModal').modal('hide')
          })
        } else {
          swal({
            'title': 'Is this the patient?',
            'text': response.patient.first_name + ' ' + response.patient.last_name,
            'icon': 'info',
            'buttons': ['No. Recognize again.', true]
          }).then((result) => {
            if(result) {
              window.location = "{{ url_for('patients.index') }}" + response.patient.id
            } else {
              recognize()
            }
          })
        }
      })
        
    }, 5000)
  }

  $('#streamModal').on('hide.bs.modal', function (e) {
    $('#streamIMG').attr('src', '')
  })

  $('.delete-patient-button').click(function() {
    let patientID = $(this).attr('data-id')
    let endpoint = "{{ url_for('api.patients.index') }}" + patientID
    swal({
      title: "Delete patient",
      text: "This patient will be removed from the records." 
        + " You can edit this patient if you want to change something.",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        passwordSWAL().then((result) => {
          let data = {
            username: '{{ current_user.username }}',
            password: result
          }
          api("{{ url_for('api.users.check_password') }}", 
            'POST', JSON.stringify(data)).done(function(result) {
            if(result.message == "Credentials are correct") {
              api(endpoint, 'DELETE', {}).done(function(data) {
                $('.row-' + patientID).fadeOut()
                notify(data.message, 'primary')
              })
              return
            }
            notify('Incorrect password', 'danger')
          })
        })
      }
    })
  })
})
</script>
{% endblock %}