{% extends 'master.html' %}
{% set active_page = 'patients.index' %}
{% set header_text = 'Patients' %}

{% block content %}
<div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-rose">
      <h4 class="card-title">Patient's Information</h4>
      <p class="card-category">This is the patient's basic information.</p>
    </div>
    <div class="card-body">
      <form method="POST" id="addPatientForm">
        <h4>Personal Information</h4>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Fist Name</label>
              <input type="text" class="form-control" name="first_name" value="{{ patient.first_name }}" disabled>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Last Name</label>
              <input type="text" class="form-control" name="last_name" value="{{ patient.last_name }}" disabled>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Alias</label>
              <input type="text" class="form-control" name="alias" value="{{ patient.alias }}" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Date of birth</label>
              <input type="date" class="form-control" name="date_of_birth" value="2018-01-01" value="{{ patient.01 }}" disabled>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Gender</label>
              <select name="gender" class="form-control" disabled>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Civil Status</label>
              <div class="dropdown bootstrap-select show-tick dropup">
                <select name="civil_status" class="selectpicker" data-style="select-with-transition" disabled>
                    <option value="single">Single</option>
                    <option value="married">Married</option>
                    <option value="widow">Widow</option>
                    <option value="widower">Widower</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Blood Type</label>
              <div class="dropdown bootstrap-select show-tick dropup">
                <select name="blood_type" class="selectpicker" data-style="select-with-transition" disabled>
                    <option value="o-">O-</option>
                    <option value="o+">O+</option>
                    <option value="a-">A-</option>
                    <option value="a+">A+</option>
                    <option value="b-">B-</option>
                    <option value="b+">B+</option>
                    <option value="ab-">AB-</option>
                    <option value="ab+">AB+</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <label class="bmd-label-floating">Allergy</label>
              <input type="text" class="form-control" name="allergy" value="{{ patient.allergy }}" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
                <label class="bmd-label-floating">Address</label>
                <input type="text" class="form-control" name="address" value="{{ patient.address }}" disabled>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Contact no.</label>
              <input type="text" class="form-control" name="contact_no" value="{{ patient.contact_no }}" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Birth Place</label>
              <input type="text" class="form-control" name="birth_place" value="{{ patient.birth_place }}" disabled>
            </div>
          </div>
        </div>
        <hr>
        <h4>Vital Signs</h4>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Height (cm)</label>
              <input type="text" class="form-control" name="height" value="{{ patient.height }}" disabled>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Weight (kg)</label>
              <input type="text" class="form-control" name="weight" value="{{ patient.weight }}" disabled>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
                <label class="bmd-label-floating">BMI</label>
                <input type="text" class="form-control" name="bmi" value="{{ patient.bmi }}" disabled>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
                <label class="bmd-label-floating">BP</label>
                <input type="text" class="form-control" name="bp" value="{{ patient.bp }}" disabled>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">PR</label>
              <input type="text" class="form-control" name="pr" value="{{ patient.pr }}" disabled>
            </div>
          </div>
           <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Temp (c)</label>
              <input type="text" class="form-control" name="temperature" value="{{ patient.temperature }}" disabled>
            </div>
          </div>
        </div>
        <hr>
        <h4>Person to contact in case of emergency</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Name</label>
              <input type="text" class="form-control" name="emergency_name" value="{{ patient.emergency_name }}" disabled>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Relationship</label>
              <input type="text" class="form-control" name="emergency_relation" value="{{ patient.emergency_relation }}" disabled>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Contact #</label>
              <input type="text" class="form-control" name="emergency_contact" value="{{ patient.emergency_contact }}" disabled>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card card-profile">
    <div class="card-avatar">
      <img class="img" src="{{ url_for('static', filename=patient.profile_picture_path) }}" />
    </div>
    <div class="card-body">
      <a href="{{ url_for('patients.edit', patient=patient.id) }}" class="btn btn-info btn-round">Edit Profile</a>
      <a href="#" class="btn btn-info btn-round btn-create-record">Add Medical Record</a>
      <a href="#" class="btn btn-info btn-round btn-show-medical-records" 
        data-id="{{ patient.id }}">
        Show Medical Records
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  function passwordSWAL() {
    return swal({
      'title': 'Enter Password',
      'content': {
        'element': "input",
        'attributes': {
          'placeholder': "Type your password",
          'type': "password",
        },
      },
      'buttons': true
    })
  }
$('.btn-create-record').click(function() {
    console.log('qwe')
    passwordSWAL().then((result) => {
      if(result == null) {
        return
      }
      let data = {
        username: '{{ current_user.username }}',
        password: result
      }
      api("{{ url_for('api.users.check_password') }}", 'POST', JSON.stringify(data)).done(function(result) {
        if(result.message == "Credentials are correct") {
          window.location = "{{ url_for('patients.index') }}" + "{{ patient.id }}" + '/add_record'
          return
        }
        notify('Incorrect password', 'danger')
      })
    })
  })
$('.btn-show-medical-records').click(function() {
    let patientID = $(this).attr('data-id')
    passwordSWAL().then((result) => {
      if(result == null) {
        return
      }
      let data = {
        username: '{{ current_user.username }}',
        password: result
      }
      api("{{ url_for('api.users.check_password') }}", 'POST', JSON.stringify(data)).done(function(result) {
        if(result.message == "Credentials are correct") {
          window.location = "{{ url_for('patients.index') }}" + patientID + '/medical_records'
          return
        }
        notify('Incorrect password', 'danger')
      })
    })
  })
})

</script>
{% endblock %}