{% extends 'slave.html' %}

{% block styles %}
<style>
  .page-header {
    background-image: url("{{ url_for('static', filename='img/login.jpg')}}");
    background-size: cover; 
    background-position: top center;
  }
</style>
{% endblock %}

{% block content %}
<div class="page-header login-page header-filter" filter-color="black">
  <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
  <div class="container">
    <div class="col-lg-8 col-md-6 col-sm-6 ml-auto mr-auto">
      <div class="card card-login card-hidden">
        <div class="card-header card-header-rose text-center">
          <h4 class="card-title">Login</h4>
        </div>
        <div class="row">
          <div class="col-lg-6 ml-auto">
            <div class="info info-horizontal" style="padding: 0 0 0 30px">
              <div class="icon icon-rose">
                <i class="material-icons">visibility</i>
              </div>
              <div class="description">
                <h4 class="info-title">Face Recognition</h4>
                <p class="description">
                  You can login to this app using face recognition.
                  Based on the collected images you supplied, we can use it to log you in.
                  <a href="#" class="text-rose">Try it yourself.</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form class="form" method="POST" action="">
              <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                  </div>
                </span>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-rose btn-link btn-lg">Login</button>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer justify-content-center">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(function(){
    setTimeout(function(){
      $('.card').removeClass('card-hidden')
    }, 700)

    $('form').submit(function(e) {
      e.preventDefault()
      let data = JSON.stringify($(this).serializeJSON())
      api("{{ url_for('api.users.login') }}", "POST", data).done(function(response) {
        let next = $(document).getUrlParam('next')
        if(next) {
          window.location = next
        }
      })
    })
  })
</script>
{% endblock %}
