{% extends 'slave.html' %}

{% block styles %}
<style>
  .page-header {
    background-image: url("{{ url_for('static', filename='img/register.jpg') }}")
  }
  .picture {
    width: 106px;
    height: 106px;
    background-color: #999;
    border: 4px solid #CCC;
    color: #FFF;
    border-radius: 50%;
    margin: 20px auto;
    overflow: hidden;
    transition: all .2s;
    -webkit-transition: all .2s;
  }
  .picture:hover {
    border-color: #e91e63;
  }
  .picture-container {
    cursor: pointer;
    text-align: center;
  }
  .picture-src {
    width: 100%;
  }
  
</style>
{% endblock %}

{% block content %}
<div class="page-header register-page header-filter" filter-color="black">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12 mr-auto ml-auto">
        <div class="card">
          <form method="POST">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">mail_outline</i>
              </div>
              <h4 class="card-title">Register Form</h4>
            </div>
            <div class="card-body ">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group bmd-form-group">
                    <input type="text" class="form-control" placeholder="Name"
                      id="name" name="name" required="true" aria-required="true">
                  </div>
                  <div class="form-group bmd-form-group">
                    <input type="text" class="form-control" placeholder="Username"
                      id="username" required="true" name="username" aria-required="true">
                  </div>
                  <div class="form-group bmd-form-group">
                    <input type="password" class="form-control" placeholder="Password"
                      id="password" required="true" name="password" aria-required="true">
                  </div>
                  <div class="form-group bmd-form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password"
                      id="confirm_password" required="true" equalto="#password" name="confirm_password" aria-required="true">
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="picture-container">
                      <div class="picture">
                        <img src="{{ url_for('static', filename='img/new_logo.png') }}" 
                          class="picture-src" title="">
                      </div>
                      <h6 class="description">Choose Picture</h6>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="form-check mr-auto">
                <label class="form-check-label">
                  Already have an account? <a class="text-rose" href="{{ url_for('site.login') }}">Login here.</a>
                </label>
              </div>
              <button type="submit" class="btn btn-rose">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="streamModal" tabindex="-1" role="dialog"
  aria-labelledby="streamModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="streamModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="streamIMG" style="width: 100%" src="" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="collectDatasetButton" type="button" class="btn btn-primary">Record</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(function() {
    $('.card.card-wizard').addClass('active')

    $('form').validate({
      submitHandler: function(form, event) {
        event.preventDefault()
        submitRegistrationForm()
      }
    })

    $('.picture').click(function() {
      $('#streamModal').modal()
    })
    
    $('#streamModal').on('show.bs.modal', function (e) {
      $('#streamIMG').attr('src', "{{ url_for('face_recognition.show') }}")
    })
  
    $('#streamModal').on('hide.bs.modal', function (e) {
      $('#streamIMG').attr('src', '')
    })

    $('#collectDatasetButton').click(function() {
      $('#streamIMG').attr('src', '')
      let slug = $('input[name="name"]').val()
      slug = slug.split(' ').join('-').toLowerCase()
      $('#streamIMG').attr('src', "/face_recognition/collect/" + slug)
      setTimeout(function() {
        notify('Please wait while the server is training the data', 'success', 'Done recording!')
        $('#streamModal').modal('toggle')
        api("{{ url_for('face_recognition.train') }}", 'GET', {}).done(function() {
          notify('Done training data!', 'success')
        })
      }, 2500)
    })

    function submitRegistrationForm() {
      let serialized = $('form').serializeJSON()
      let data = JSON.stringify(serialized)
      
      api("{{ url_for('api.users.store') }}", 'POST', data).done(function(response) {
        if(response.message === 'User created')
          window.location = "{{ url_for('site.login') }}"
      })
    }
  })
</script>
{% endblock %}