{% extends 'master.html' %}
{% set active_page = 'patients.index' %}
{% set header_text = 'Patients / {} / Add Record'.format(patient.id)  %}

{% block content %}
<div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-rose">
      <h4 class="card-title">Medical Record</h4>
      <p class="card-category">Please enter appropriate information to the form provided below</p>
    </div>
    <div class="card-body">
      <form method="POST" id="addMedicalRecordForm">
        <input type="hidden" name="patient_id" value="{{ patient.id }}">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Complaint</label>
              <input type="text" class="form-control" name="complaint" required>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Diagnosis</label>
              <input type="text" class="form-control" name="diagnosis" required>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Temp (c)</label>
              <input type="text" class="form-control" name="temperature" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Treatment</label>
              <input type="text" class="form-control" name="treatment" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Medical Status</label>
              <input type="text" class="form-control" name="medical_status" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Medical Case</label>
              <div class="dropdown bootstrap-select show-tick dropup">
                <select class="selectpicker" name="medical_case" data-style="select-with-transition" required>
                  <option disabled=""> EENT</option>
                  <option value="nose bleeding">nose bleeding</option>
                  <option value="redness of eye">redness of eye</option>
                  <option value="lip bleeding">lip bleeding</option>
                  <option disabled=""> CARDIO VASCULAR</option>
                  <option value="chest pain">chest pain</option>
                  <option disabled=""> RESPIRATORY</option>
                  <option value="colds">colds </option>
                  <option value="cough">cough </option>
                  <option disabled=""> GASTROINTESTINAL</option>
                  <option value="hyperacidity">hyperacidity</option>
                  <option value="LBM">LBM</option>
                  <option value="stomachache">stomachache</option>
                  <option value="vomiting">vomiting</option>
                  <option disabled=""> MUSCULOSKELETAL</option>
                  <option value="body malaise">body malaise</option>
                  <option value="muscle pain">muscle pain</option>
                  <option disabled=""> DERMA</option>
                  <option value="hypersensitivity">hypersensitivity</option>
                  <option value="insect bite">insect bite</option>
                  <option value="blisters">blisters</option>
                  <option disabled=""> SURGICAL</option>
                  <option value="abrasion">abrasion</option>
                  <option disabled=""> DENTAL</option>
                  <option value="toothache">toothache</option>
                  <option value="consultations">consultations</option>
                  <option disabled=""> NEUROLOGICAL</option>
                  <option value="dizziness">dizziness </option>
                  <option value="fever ">fever </option>
                  <option value="headache">headache </option>
                  <option disabled=""> REPRODUCTIVE</option>
                  <option value="dysmenorrhea">dysmenorrhea</option>
                  <option disabled=""> MISCELLANEOUS</option>
                  <option value="BP TAKING">BP TAKING</option>
                  <option value="OTHER CONSULTATIONS">OTHER CONSULTATIONS</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <label>Note</label>
                <div class="form-group">
                  <textarea class="form-control" name="note" rows="5"></textarea>
                </div>
            </div>
          </div>
        </div>
        <a href="{{ request.referrer }}" class="btn btn-rose">Cancel</a>
        <button type="submit" class="btn btn-rose pull-right">Save</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card card-profile">
    <div class="card-avatar">
      <a href="{{ url_for('patients.show', patient=patient.id) }}">
        <img class="img" src="{{ url_for('static', filename='img/logo-small.png') }}" />
      </a>
    </div>
    <div class="card-body">
      <h6 class="card-category">Patient</h6>
      <h4 class="card-title">{{ patient.first_name }} {{ patient.last_name }}</h4>
      <div class="card-description text-left">
        <div class="row">
          <div class="col-4">Gender: </div>
          <div class="col-8 align-left">{{ patient.gender.capitalize() }}</div>
        </div>
        <div class="row">
          <div class="col-4">Civil Status: </div>
          <div class="col-8 align-left">{{ patient.civil_status.capitalize() }}</div>
        </div>
        <div class="row">
          <div class="col-4">Birthday: </div>
          <div class="col-8 align-left">{{ patient.date_of_birth }}</div>
        </div>
        <div class="row">
          <div class="col-4">Address: </div>
          <div class="col-8 align-left">{{ patient.address }}</div>
        </div>
        <div class="row">
          <div class="col-4">Contact no: </div>
          <div class="col-8 align-left">{{ patient.contact_no }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(function() {
    $('#addMedicalRecordForm').submit(function(e) {
      e.preventDefault()
      data = JSON.stringify($(this).serializeJSON())
      console.log(data)
      api('{{ url_for("api.medical_records.store")}}', 'POST', data).done(function(data) {
        notify('Added medical record', 'primary')
        window.location = "{{ url_for('patients.show', patient=patient.id) }}"
      })
    })
  })
</script>
{% endblock %}
