{% extends 'master.html' %}
{% set active_page = 'patients.index' %}
{% set header_text = 'Patients / {}'.format(patient.id) %}

{% block content %}
<div class="col-md-9">
  {% if patient.medical_records|length > 0 %}
  {% for record in patient.medical_records|sort(True, attribute='id') %}
  <div class="card-{{ record.id }}">
    <div class="card">
      <div class="card-header card-header-rose">
        <h4 class="card-title">{{ record.diagnosis }}</h4>
        <p class="card-category">{{ record.created_at|datetime }}</p>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <div class="form-group">
                  <label class="bmd-label-floating">Complaint</label>
                  <div class="dropdown bootstrap-select show-tick dropup">
                    <select class="selectpicker" name="complaint" data-style="select-with-transition" disabled>
                      <option disabled=""> EENT</option>
                      <option {% if record.complaint=='nose bleeding' %} selected="selected" {% endif %} value="nose bleeding">
                        nose bleeding</option>
                      <option {% if record.complaint=='redness of eye' %} selected="selected" {% endif %} value="redness of eye">
                        redness of eye</option>
                      <option {% if record.complaint=='lip bleeding' %} selected="selected" {% endif %} value="lip bleeding">
                        lip bleeding</option>
                      <option disabled=""> CARDIO VASCULAR</option>
                      <option {% if record.complaint=='chest pain' %} selected="selected" {% endif %} value="chest pain">
                        chest pain</option>
                      <option disabled=""> RESPIRATORY</option>
                      <option {% if record.complaint=='colds' %} selected="selected" {% endif %} value="colds">
                        colds</option>
                      <option {% if record.complaint=='cough' %} selected="selected" {% endif %} value="cough">
                        cough</option>
                      <option disabled=""> GASTROINTESTINAL</option>
                      <option {% if record.complaint=='hyperacidity' %} selected="selected" {% endif %} value="hyperacidity">
                        hyperacidity</option>
                      <option {% if record.complaint=='LBM' %} selected="selected" {% endif %} value="LBM">
                        LBM</option>
                      <option {% if record.complaint=='stomachache' %} selected="selected" {% endif %} value="stomachache">
                        stomachache</option>
                      <option {% if record.complaint=='vomiting' %} selected="selected" {% endif %} value="vomiting">
                        vomiting</option>
                      <option disabled=""> MUSCULOSKELETAL</option>
                      <option {% if record.complaint=='body malaise' %} selected="selected" {% endif %} value="body malaise">
                        body malaise</option>
                      <option {% if record.complaint=='muscle pain' %} selected="selected" {% endif %} value="muscle pain">
                        muscle pain</option>
                      <option disabled=""> DERMA</option>
                      <option {% if record.complaint=='hypersensitivity' %} selected="selected" {% endif %} value="hypersensitivity">
                        hypersensitivity</option>
                      <option {% if record.complaint=='insect bite' %} selected="selected" {% endif %} value="insect bite">
                        insect bite</option>
                      <option {% if record.complaint=='blisters' %} selected="selected" {% endif %} value="blisters">
                        blisters</option>
                      <option disabled=""> SURGICAL</option>
                      <option {% if record.complaint=='abrasion' %} selected="selected" {% endif %} value="abrasion">
                        abrasion</option>
                      <option disabled=""> DENTAL</option>
                      <option {% if record.complaint=='toothache' %} selected="selected" {% endif %} value="toothache">
                        toothache</option>
                      <option {% if record.complaint=='consultations' %} selected="selected" {% endif %} value="consultations">
                        consultations</option>
                      <option disabled=""> NEUROLOGICAL</option>
                      <option {% if record.complaint=='dizziness' %} selected="selected" {% endif %} value="dizziness">
                        dizziness</option>
                      <option {% if record.complaint=='fever' %} selected="selected" {% endif %} value="fever">
                        fever</option>
                      <option {% if record.complaint=='headache' %} selected="selected" {% endif %} value="headache">
                        headache</option>
                      <option disabled=""> REPRODUCTIVE</option>
                      <option {% if record.complaint=='dysmenorrhea' %} selected="selected" {% endif %} value="dysmenorrhea">
                        dysmenorrhea</option>
                      <option disabled=""> MISCELLANEOUS</option>
                      <option {% if record.complaint=='BP TAKING' %} selected="selected" {% endif %} value="BP TAKING">
                        BP TAKING</option>
                      <option {% if record.complaint=='OTHER CONSULTATIONS' %} selected="selected" {% endif %} value="OTHER CONSULTATIONS">
                        OTHER CONSULTATIONS</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label class="bmd-label-floating">Diagnosis</label>
                <input type="text" class="form-control" name="diagnosis" value="{{ record.diagnosis }}" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label class="bmd-label-floating">Treatment</label>
                <input type="text" class="form-control" name="treatment" value="{{ record.treatment }}" disabled>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                  <label class="bmd-label-floating">Medical Status</label>
                  <div class="dropdown bootstrap-select show-tick dropup">
                    <select class="selectpicker" name="medical_status" data-style="select-with-transition" disabled>
                      <option disabled=""> Medical Status</option>
                      <option {% if record.medical_status=='undetermined' %} selected="selected" {% endif %} value="undetermined">Undetermined</option>
                      <option {% if record.medical_status=='good' %} selected="selected" {% endif %} value="good">Good</option>
                      <option {% if record.medical_status=='fair' %} selected="selected" {% endif %} value="fair">Fair</option>
                      <option {% if record.medical_status=='serious' %} selected="selected" {% endif %} value="serious">Serious</option>
                      <option {% if record.medical_status=='critical' %} selected="selected" {% endif %} value="critical">Critical</option>
                      <option {% if record.medical_status=='dead' %} selected="selected" {% endif %} value="dead">Dead</option>
                    </select>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Note</label>
                <div class="form-group">
                  <textarea class="form-control" name="note" rows="3" disabled>{{ record.note }}</textarea>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <h4>Vital Signs</h4>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label class="bmd-label-floating">Height (cm)</label>
                <input type="text" class="form-control" name="height" value="{{ record.height }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="bmd-label-floating">Weight (kg)</label>
                <input type="text" class="form-control" name="weight" value="{{ record.weight }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="bmd-label-floating">BMI</label>
                <input type="text" class="form-control" name="bmi" value="{{ record.bmi }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="bmd-label-floating">BP</label>
                <input type="text" class="form-control" name="bp" value="{{ record.bp }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="bmd-label-floating">PR</label>
                <input type="text" class="form-control" name="pr" value="{{ record.pr }}" disabled>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="bmd-label-floating">Temp (c)</label>
                <input type="text" class="form-control" name="temperature" value="{{ record.temperature }}" disabled>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <a class="btn btn-info" href="{{ url_for('medical_records.purintu', medical_record=record.id) }}"
              data-toggle="tooltip" title="Print medical record">
              <i class="material-icons">print</i>
            </a>
            <a class="btn btn-info btn-edit-record" href="#" data-id="{{ record.id }}" data-toggle="tooltip" title="Edit medical record">
              <i class="material-icons">edit</i>
            </a>
            <button type="button" class="btn btn-danger delete-record-button" data-id="{{ record.id }}" data-toggle="tooltip"
              title="Delete medical record">
              <i class="material-icons">delete</i>
            </button>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
    <hr>
  </div>
  {% endfor %}
  {% else %}
  <h2>No medical records found</h2>
  {% endif %}
</div>
<div class="col-md-3">
  <div class="card card-profile">
    <div class="card-avatar">
      <a href="#pablo">
        <img class="img" src="{{ url_for('static', filename='img/logo-small.png') }}" />
      </a>
    </div>
    <div class="card-body">
      <h6 class="card-category">Patient</h6>
      <h4 class="card-title">{{ patient.first_name }} {{ patient.last_name }}</h4>
      <div class="card-description text-left">
        <div class="row">
          <div class="col-5">Gender: </div>
          <div class="col-7 align-left">{{ patient.gender.capitalize() }}</div>
        </div>
        <div class="row">
          <div class="col-5">Birthday: </div>
          <div class="col-7 align-left">{{ patient.date_of_birth|date }}</div>
        </div>
        <div class="row">
          <div class="col-5">Contact #:</div>
          <div class="col-7 align-left">{{ patient.contact_no }}</div>
        </div>
      </div>
      <hr>
      <a href="#" class="btn btn-rose btn-round btn-create-record">Add Medical Record</a>

      <a href="{{ url_for('patients.edit', patient=patient.id) }}" class="btn btn-info btn-round">Edit Patient</a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(function () {
    function passwordSWAL() {
      return swal({
        'title': 'Enter Password',
        'content': {
          'element': "input",
          'attributes': {
            'placeholder': "Type your password",
            'type': "password",
          },
        },
        'buttons': true
      })
    }

    $('.btn-create-record').click(function () {
      passwordSWAL().then((result) => {
        if (result == null) {
          return
        }
        let data = {
          username: '{{ current_user.username }}',
          password: result
        }
        api("{{ url_for('api.users.check_password') }}", 'POST', JSON.stringify(data)).done(function (result) {
          if (result.message == "Credentials are correct") {
            window.location = "{{ url_for('patients.index') }}" + "{{ patient.id }}" + '/add_record'
            return
          }
          notify('Incorrect password', 'danger')
        })
      })
    })

    $('.btn-edit-record').click(function () {
      let recordID = $(this).attr('data-id')
      passwordSWAL().then((result) => {
        if (result == null) {
          return
        }
        let data = {
          username: '{{ current_user.username }}',
          password: result
        }
        api("{{ url_for('api.users.check_password') }}", 'POST', JSON.stringify(data)).done(function (result) {
          if (result.message == "Credentials are correct") {
            window.location = "{{ url_for('medical_records.index') }}" + recordID + '/edit'
            return
          }
          notify('Incorrect password', 'danger')
        })
      })
    })

    $('.delete-record-button').click(function () {
      let recordID = $(this).attr('data-id')
      let endpoint = "{{ url_for('api.medical_records.index') }}" + recordID
      swal({
        title: "Delete record",
        text: "This record be removed from the records. You can edit this record if you want to change something.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then(function (willDelete) {
        if (!willDelete) {
          return
        }
        passwordSWAL().then((result) => {
          if (result == null) {
            return
          }
          let data = {
            username: '{{ current_user.username }}',
            password: result
          }
          api("{{ url_for('api.users.check_password') }}", 'POST', JSON.stringify(data)).done(function (result) {
            if (result.message == "Credentials are correct") {
              api(endpoint, 'DELETE', {}).done(function (data) {
                $('.card-' + recordID).slideUp()
                notify(data.message, 'info')
              })
              return
            }
            notify('Incorrect password', 'danger')
          })
        })
      })
    })
  })
</script>
{% endblock %}