{% extends 'master.html' %}

{% block stylesheet %}
<style>
.card-profile .card-avatar {
  margin-left: 20px;
}
input[type="file"] {
  visibility: hidden;
}
</style>
{% endblock %}

{% block content %}
<div class="col-md-8">
  <div class="card card-profile">
    <div class="card-avatar">
      <a href="#">
        <img class="img" src="{{ url_for('static', filename=user.profile_picture_path) }}" />
      </a>
    </div>
    <div class="card-body">
      <div class="card-description text-left">
        <form method="POST" id="editUserForm">
        <input type="hidden" name="id" value="{{ user.id }}">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Name</label>
              <input type="text" class="form-control" name="name" 
                value="{{ user.name }}" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Username</label>
              <input type="text" class="form-control" name="username" 
                value="{{ user.username }}" required>
            </div>
          </div>
        </div>
        <input type="hidden" name="profile_picture_path">
        <a href="{{ request.referrer }}" class="btn btn-rose">Cancel</a>
        <button type="submit" class="btn btn-rose pull-right" id="saveButton">Save</button>
      </form>
  </div>
</div>
<div class="modal fade" id="streamModal" tabindex="-1" role="dialog"
  aria-labelledby="streamModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="streamModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="streamIMG" style="width: 100%" src="" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="captureButton" type="button" class="btn btn-primary">Record</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  $('.img').click(function() {
    $('#streamModal').modal('toggle')
  })
  $('#editUserForm').submit(function(e) {
    let data = JSON.stringify($(this).serializeJSON())
    console.log(data)
    let endpoint = '{{ url_for("api.users.store") }}'
    api(endpoint, 'PUT', data).done(function(data) {
      notify(data.message, 'info')
      window.location = '{{ url_for("users.show", user=user.id)}}'
    })
    e.preventDefault()
  })
  $('form').validate({
    submitHandler: function(form, event) {
      event.preventDefault()
      submitRegistrationForm()
    }
  })
  
  $('#streamModal').on('show.bs.modal', function (e) {
    $('#streamIMG').attr('src', "{{ url_for('face_recognition.show') }}")
  })
  
  $('#streamModal').on('hide.bs.modal', function (e) {
    $('#streamIMG').attr('src', '')
  })
  $('#captureButton').click(function() {
    $('#streamIMG').attr('src', '')
    let slug = $('input[name="name"]').val()
    slug = slug.split(' ').join('-').toLowerCase()
    $('#streamIMG').attr('src', "/face_recognition/profile_picture/" + slug)
    let interval = setInterval(function() {
      api("{{ url_for('api.face_recognition.recording') }}", 'GET', {}).done(function(response) {
        if(response.result.fresh == 1) {
          clearInterval(interval)
          $('input[name="profile_picture_path"]').val(`img/profile_pictures/${response.result.name}`)
          $('.img').attr('src', `/static/img/profile_pictures/${response.result.name}`)
          api("{{ url_for('api.face_recognition.store') }}", 'POST', 
            JSON.stringify({'name': 'new-face', 'fresh': 0}))
          $('#streamModal').modal('toggle')
        }
      })
    }, 500)
  })
})
</script>
{% endblock %}
